<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bjsn909429077.stz">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE " />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_saen"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:icon,android:theme,android:label"
        >

        <activity android:name=".ui.my.activity.CancellationActivity"></activity>
        <activity android:name=".ui.my.activity.ModifyMobileActivity_2" />
        <activity android:name=".ui.my.activity.ModifyMobileActivity_1" />
        <activity android:name=".ui.my.activity.FeedbackActivity" />
        <activity android:name=".ui.my.activity.ChangePasswordActivity" />
        <activity android:name=".ui.my.activity.SettingActivity" />
        <activity android:name=".ui.study.activity.LiveList_2Activity" />
        <activity android:name=".ui.study.activity.LiveCourse2Activity" />
        <activity android:name=".ui.my.MyCollectionActivity" />
        <activity android:name=".ui.my.MyQuestionActivity" />
        <activity android:name=".ui.questionbank.activity.PersonalInformationActivity" />
        <activity android:name=".ui.my.MyOrderListActivity" />
        <activity android:name=".ui.questionbank.activity.RecordQuestionsActivity" />
        <activity android:name=".ui.video.AnswerInfoActivity" />
        <activity android:name=".ui.video.AnswerActivity" />
        <activity android:name=".ui.my.MyExchangeActivity" />
        <activity android:name=".ui.my.MyPointsActivity" />
        <activity android:name=".ui.study.activity.EditNoteActivity" />
        <activity android:name=".ui.questionbank.activity.AnswerReportActivity" />
        <activity android:name=".ui.questionbank.activity.ErrorQuestionBookActivity" />
        <activity android:name=".ui.order.PaymentActivity" />
        <activity android:name=".ui.questionbank.activity.AnswerCardActivity" />
        <activity android:name=".ui.questionbank.activity.ExerciseAnalysisActivity" />
        <activity android:name=".ui.questionbank.activity.ExerciseCollectionActivity" />
        <activity android:name=".ui.questionbank.activity.QuestionActivity" />
        <activity android:name=".ui.questionbank.activity.AnswerActivity" />
        <activity android:name=".ui.questionbank.activity.PracticeActivity" />
        <activity android:name=".ui.login.BindPhoneActivity" />
        <activity android:name=".ui.login.RetrievePasswordActivity" />
        <activity android:name=".ui.questionbank.activity.RankingListActivity" />
        <activity android:name=".ui.questionbank.activity.FreeQuestionBankActivity" />
        <activity
            android:name=".ui.login.StartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/SpalshTheme"
            tools:ignore="LockedOrientationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.login.HomeWebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.home.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".ui.login.OneClickLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".ui.order.OrderLiveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.address.AddressActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wenda.QuestionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.address.AddAddressActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wenda.QuestionInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wenda.WenDaInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wenda.ZuanJiaInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wenda.MyWdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wenda.BuyVipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 分类学习方向 -->
        <activity
            android:name=".ui.home.SortHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.home.SortActivity2"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.order.CouponActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.home.SortGuideActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.course.SelectCourseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wenda.WenDaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wenda.QuestSuccessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.order.PaySuccessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.study.activity.ContinueStudyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.study.activity.AnswerListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.study.activity.MyCourseListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.video.VideoPlaybackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.study.activity.MyNoteListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.study.activity.MyLiveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.study.activity.LiveListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.home.SortActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 微信 支付回调 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|navigation"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="380" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="896" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>